{% extends 'layout.html' %}
{% block content %}

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <form action="{{ url_for('predict_income') }}" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <legend class="mb-4">Client Data</legend>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.name.errors %}
                        <div class="invalid-feedback">
                            <span>{{error}}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {{ form.name(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.country.label(class="form-control-label") }}
                        {% if form.country.errors %}
                        {{ form.country(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.country.errors %}
                        <div class="invalid-feedback">
                            <span>{{error}}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {{ form.country(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.age.label(class="form-control-label") }}
                        {% if form.age.errors %}
                        {{ form.age(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.age.errors %}
                        <div class="invalid-feedback">
                            <span>{{error}}</span>
                        </div>
                        {% endfor %}
                        {% else %}
                        {{ form.age(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    
        
            
                    <div class="form-group">
                        {{ form.gender.label(class = "form-control-label") }}
                        {{ form.gender(class = "form-control form-control-sm") }}
                    </div>
            
                    <div class="form-group">
                        {{ form.satisfactionrate.label(class = "form-control-label") }}
                        {{ form.satisfactionrate(class = "form-control form-control-sm") }}
                    </div>

                    
            
                    <div class="form-group border-bottom pb-3">
                        {{ form.predict(class="btn btn-outline-info")}}
                    </div>
                </fieldset>

                <br>
                <div class="result",align="center">           
                    <!-- Our 'result' is false until a prediction has been made -->
                    {% if result %}
                        
                        <!-- Print prediction -->
                        <p style="font-size:50px">{{ result }}</p>
                        
                    
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}