{% extends 'layout.html' %}
{% block content %}

<div class="col-sm-20 ml-auto mr-auto ">
    <h2>Transaction History</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TimeStamp</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">PhoneNumber</th>
                <th scope="col">Gender</th>
                <th scope="col">SatisfactionRate</th>
                <th scope="col">Avg Monthly Income(in USD)</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{entry.timestamp.strftime("%m-%d-%Y")}}</td>
                        <td>{{entry.name}}</td>
                        <td>{{ entry.country }}</td>
                        <td>{{ entry.age }}</td>
                        <td>{{ entry.email }}</td>
                        <td>{{ entry.address }}</td>
                        <td>{{ entry.phonenumber }}</td>
                        <td>{{ entry.gender }}</td>
                        <td>{{ entry.satisfactionrate }}</td>
                        <td>{{ entry.income }}</td>
                        <td><a href="{{ url_for('delete', entry_id = entry.id) }}" class="btn btn-outline-danger btn-sm">Delete</a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}